<h1>Bookmark a recipe</h1>

<%= simple_form_for [@category, @bookmark] do |f|%>
  <%= f.association :recipe %>
  <%= f.input :comment %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<%= link_to "Back", category_path(@category) %>
