<div class="form_new">
  <h1>Add recipe to <%= @category.name %></h1>
  <%= simple_form_for [@category, @bookmark] do |f|%>
    <%= f.association :recipe %>
    <%= f.input :comment %>
    <%= f.submit class: "btn btn-warning" %>
  <% end %>
</div>
