<div class="banner" style="background-image: url('<%= image_path"banner_image.jpeg" %>');">
  <div class="container">
    <h1>Cookbook</h1>
    <h3>Save your favourite recipes</h3>
  </div>
</div>

<div class="container w-75">
  <div class="d-flex justify-content-between align-items-center">
    <h1>List of Categories</h1>
    <%= link_to "New Category", new_category_path, class:"btn btn-warning text-decoration-none text-white" %>
  </div>

  <div class="cards">
    <% @categories.each do |category|%>
      <%= link_to category_path(category.id) do %>
            <div class="card-category" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNJHrqDF55cNBWhWFBwxDX6GRo3hJkKW2MD76MDgNDcFcZG0PjZw&s=10&ec=72940545');">
              <div>
                <h3><%= category.name %></h3>
                <p><%= category.bookmarks.count %> recipes</p>
              </div>
            </div>
      <% end %>
    <% end %>
</div>
