<h1>Category - <%= @category.name %></h1>
<%= link_to "Add bookmark", new_category_bookmark_path(@category) %>
<%# !!!! need to put @category in the parenthesis as it's a dynamic path, need to know which specific category %>
<div class="list-group">
  <% @category.bookmarks.each do |bookmark|%>
    <div class="list-group-item">
      <h4>
        <%= bookmark.recipe.name %> |
        <%= link_to "Delete", bookmark_path(bookmark),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </h4>
      <img src= <%= bookmark.recipe.image_url %> alt="food image" >
      <p><%= bookmark.comment%></p>
    </div>
  <% end %>
</div>

<hr>
<%= link_to "Back", categories_path %>
