<div class="banner" style="background-image: url('<%= image_path"category.jpeg"%>')">
  <div class="container">
    <h1><%= @category.name %></h1>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Recipes</h1>
    <%= link_to "Add bookmark", new_category_bookmark_path(@category), class:"btn btn-warning text-decoration-none text-white" %>
  <%# !!!! need to put @category in the parenthesis as it's a dynamic path, need to know which specific category %>
  </div>

  <div class="cards">
    <% @category.bookmarks.each do |bookmark|%>
      <div class="card-recipe">
        <%# <div class="col-12 col-md-6 col-lg-4"> %>
          <img src= <%= bookmark.recipe.image_url %> alt="food image"  >

          <%= link_to bookmark_path(bookmark),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: "card-recipe-delete" do %>
              <i class="fa-solid fa-trash"></i>
          <% end %>


          <div class="card-recipe-description">
            <h3><%= bookmark.recipe.name %></h3>
            <p><%= bookmark.recipe.description.truncate(100) %></p>
          </div>
            <%# <h2 class="card-trip-pricing">£99.99</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>

          <div class="card-recipe-infos">
            <div><i class="fa-solid fa-quote-left"></i><%= bookmark.comment%></div>
            <div><%= bookmark.recipe.rating %> <%= "⭐" * bookmark.recipe.rating.floor %></div>
            <%# <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"card-recipe-delete" %>
          </div>
      </div>
    <% end %>
  </div>
</div>

<hr>
<%= link_to "Back", categories_path %>
